window#osd {
  border-radius: 999px;
  border: 2px solid #85d2e8;
  background: alpha(#0f1416, 0.9);
}
window#osd #container {
  margin: 16px;
}
window#osd image,
window#osd label {
  color: #dee3e6;
}
window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}
window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}
window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#dee3e6, 0.3);
}
window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #85d2e8;
}
window#osd segment {
  margin-left: 8px;
}
window#osd segment:first-child {
  margin-left: 0;
}
