window#osd {
  border-radius: 999px;
  border: 2px solid #aaccd7;
  background: alpha(#121414, 0.9);
}
window#osd #container {
  margin: 16px;
}
window#osd image,
window#osd label {
  color: #e3e2e3;
}
window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}
window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}
window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#e3e2e3, 0.3);
}
window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #aaccd7;
}
window#osd segment {
  margin-left: 8px;
}
window#osd segment:first-child {
  margin-left: 0;
}
