spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "waybar"
spawn-at-startup "blueman-applet"
spawn-at-startup "swaync"
spawn-at-startup "swayosd-server"
spawn-at-startup "wallpaper"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
